[user]
[core]
[color]
    # colorの設定(以下のコマンドは自動で色つける)
    status      = auto
    diff        = auto
    branch      = auto
    interactive = auto
    grep        = auto
[alias]
    st = status
    co = checkout
    di = diff
[http]
    sslcainfo = /etc/pki/tls/certs/ca-bundle.crt
    sslVerify = false
