# 全ファイルを一度無視
# *
# さらにdotfileを無視
# .*
# .zshrc.localや.vimrc.localを無視
/home/.*.local

# 無視したくないファイルを![filename]で指定

# globalに無視するtmp系
.DS_Store
*.sw[po]

# fish 系
home/.config/fish/fish_history
home/.config/fish/fishd.*
home/.config/fish/generated_completions

# /.vim 以下
/home/.vim/.netrwhist
/home/.vim/tmp/.viminfo
/home/.vim/tmp/backup/*
/home/.vim/tmp/swap/*
/home/.vim/tmp/.unite/*
/home/.vim/tmp/.neocon/*
/home/.vim/tmp/yankring_history_v2.txt
/home/.vim/bundle/*
