[submodule "home/.tmux/tmux-powerline"]
	path = home/.tmux/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "home/.oh-my-fish"]
	path = home/.oh-my-fish
	url = git@github.com:oh-my-fish/oh-my-fish.git
