[submodule ".zsh/plugin/auto-fu"]
	path = .zsh/plugin/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".vim/bundle/vandle"]
	path = .vim/bundle/vandle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
