" Ctrl+cをESCのかわりに
imap <C-j> <ESC>
imap <C-c> <ESC>

" インクリメント/デクリメント
nmap + <C-A>
nmap - <C-X>

" 矢印キーを全モードで有効に
map <ESC>[A <Up>
map <ESC>[B <Down>
map <ESC>[C <Right>
map <ESC>[D <Left>

map! <ESC>[A <Up>
map! <ESC>[B <Down>
map! <ESC>[C <Right>
map! <ESC>[D <Left>

map <Right> :tabn<CR>
map <Left>  :tabN<CR>

" Escの2回押しでハイライト消去 & foldのクリア
nmap <ESC><ESC>zE :nohlsearch<CR>
