[user]
	useConfigOnly = true
	name = Keishi Maeda
	email = keishi.maeda@gmail.com
[color]
    ui = auto
[alias]
    st = status
    di = diff

    # http://suzuken.hatenablog.jp/entry/2015/04/07/134847
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[push]
    default = simple
[core]
    editor = vim -c \"set fenc=utf-8\"

[ghq]
	root = /Users/keishi/.ghq
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
